.git
.gitignore
.gitattributes

.env
.env.production
.env.backup

.vscode
.idea
.fleet
.nova
.zed

node_modules
vendor

tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache

public/build
public/hot

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail

DEPLOY.md
LICENSE

.DS_Store
Thumbs.db
