@import 'tailwindcss';
@import './theme.css';
@import './editor.css';
@import './external.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.ts';
@source '../**/*.vue';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    button:not(:disabled) {
        cursor: pointer;
    }

    button:disabled {
        cursor: not-allowed;
    }
}
